html {
    scroll-behavior: smooth;
}

body{
    font-family: sans-serif;
    border: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: linear-gradient(150deg, white , rgb(172, 172, 172) 70%, white);
}

header{
    color: white;
    background-color: black;
    text-align: center;
    padding: 5px;
    flex: 0,0 auto;
    background: linear-gradient(150deg,black, white 20%, black,white 80%, black);
}

h2{
    padding-left: 20px;
    margin: 0;   
}

.nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin: 0;
}

nav li{
    width: 10%;
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
}

nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px 15px;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
    float: right;	
    justify-content: flex-end;
}

nav a:hover{
    background-color: black;
    color: white;
    transform: scale(1.2);
    font-weight: bold;
}

.about{
    background-color: black;
    color: white;
    text-align: center;
    align-items: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.about_details{
    max-width: 1000px;
    width: max-content;
}

.profile-picture{
    border-radius: 50px;
    box-shadow: 0px 10px 30px gray;
}

.profile-picture:hover{
    transform: scale(1.07);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 10px gray;
}

.education{
    text-align: center;
    align-items: center;
    margin: 0;
}

.education-content hr{
    border: 1px solid black;
    width: 500px;
}

.education-content {
    text-align: center;
    padding: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.education-card {
    margin-top: 10px;
    background: white;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0px 1px 12px;
}

.skills{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    margin: 0;
}

.skills hr{
    max-width: 700px;
}

.skills button{
    color: white;
    font-size: smaller;
    font-weight: bold;
    background-color: gray;
    border-radius: 4px;
    padding: 10px;
    margin-top: 50px;
    margin: 10px;
    box-shadow: 0px 5px 10px lightgray;
}

.skills button:hover{
    transform: scale(1.2);
    color: black;
    font-weight: bold;
}

.projects{
    background-color: lightgray;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;
    padding: 20px;
    margin: 0;
    text-align: center;
    align-items: center;
}

.projects-content hr{
    border: 1px solid black;
    width: 500px;
}

.projects-content :hover{
    transform: scale(1.02);
}

.project-card{
    background: white;
    border-radius: 20px;
    text-align: left;
    align-items: left;
    margin-top: 10px;
    padding-right: 20px;
}

.project-card ol{
    list-style-position: inside;
}

.project-name{
    font-weight: bold;
    font-size: large;
}

.project-duration{
    font-style: italic;
    font-weight: normal;
}

.project-description{
    margin-left: 50px;
}

.project-description ul{
    list-style: disc;
    list-style-position:inside;
}

.contact{
    background-color: gray;
    color: white;
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
    align-items: center;
}

.contact-card{
    padding: 10px;
    margin: 0;
    border: 0;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contact-info{
    color: black;
    display: flex;
    float: right;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    border: 0;
}

.contact-links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    list-style-type: none;
    margin: 0;
}

.contact-links a{
    color: white;
    text-decoration: none;
    padding-bottom: 40px;
}

.contact-icons{
    width: 20px;
    padding-right: 4px;
}

.contact-links li:hover{
    transform: scale(1.2);
}

footer{
    color: white;
    text-align: center;
    background-color: black;
    padding: 2px;
    border: 0;  
    font-size: small;
}
